/*-- scss:defaults --*/
/* Background Colors */
body {
    background-color: #a6c2e3; /* Light Blue */
    color: #acc6e3; /* Dark Blue */
}

/* Primary Text */
h1, h2, h3, h4, h5, h6, p, li {
    color: #0258d4; /* Dark Blue */
}

/* Accent and Highlight */
a, .highlight {
    color: #004CB4; /* Deep Blue */
}

a:hover, .highlight:hover {
    color: #0053B7; /* Blue */
}

/* Secondary Background or Neutral Areas */
.secondary-bg {
    background-color: #FFFFFF; /* White */
    color: #acc6e3; /* Dark Blue */
}

/* Button Styles */
button, .btn {
    background-color: #0049B3; /* Dark Blue */
    color: #FFFFFF; /* White */
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
}

button:hover, .btn:hover {
    background-color: #004CB4; /* Deep Blue */
    color: #FFFFFF; /* White */
}

/* Border Colors */
.border-primary {
    border-color: #004CB4; /* Deep Blue */
}

.border-secondary {
    border-color: #9FBFE4; /* Light Blue */
}


/*-- scss:rules --*/

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  font-size: 0.35em !important;
  text-align: left !important;
}

.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

.sectionhead {
  font-size: 1em;
  text-align: center;
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  margin: 1px;
  padding: 2px 2px 2px 2px;
  width: 120px;
  border-left: 10px solid;
}

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}

#blink_text{	
  animation-name:blink;
  width:750px;
  text-align: center;
  animation-duration:2s;
  animation-timing-function:ease-in;
  animation-iteration-count:Infinite;
  }

@keyframes blink{
  0%{color:red;}
  50%{color:white;}
  100%{color:red;}
}